absl-py==0.7.0
alembic==1.0.7
astor==0.7.1
bsddb3==6.2.6
certifi==2018.11.29
chardet==3.0.4
future==0.17.1
gast==0.2.2
grpcio==1.18.0
Gutenberg==0.7.0
h5py==2.9.0
idna==2.8
isodate==0.6.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
numpy==1.16.1
protobuf==3.6.1
pyparsing==2.3.1
python-dateutil==2.8.0
python-editor==1.0.4
PyYAML==3.13
rdflib==4.2.2
rdflib-sqlalchemy==0.3.8
requests==2.21.0
scipy==1.2.1
six==1.12.0
SQLAlchemy==1.2.18
tensorboard==1.12.2
tensorflow==2.3.1
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
